{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nintino</title>
</head>
<body>
    <div>
        <img src="../../images/logo.png" alt="nintino logo">
    </div>

    <a href="{% url 'signup' %}">
        Sign Up!
    </a>

    <div>
        <p>Already got an account?</p>
        <a href="{% url 'login' %}">Login!</a>
    </div>
</body>
</html>