{% extends "users/base.html" %}
{% load static %}
{% block content %}
    

    <div id="login-form-container">
        <img id="logo" src="{% static '/chippers/logo.png' %}" alt="nintino logo">
        
        <form id="login-form" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Login">
        </form>
        <span class="account-checker">
            Don't have an account yet?
            <a href="{% url 'signup' %}">Signup here!</a>
        </span>
    </div>
{% endblock content %}