#board {
    display: grid;
    grid-template-rows: 8;
    border: 5px solid black;
    float: left;
}

.board-btn {
    height: 40px;
    width: 40px;
    vertical-align: middle;
}

.piece-img{
    z-index: 2;
}


