body {
    background-color: #228B22;
    font-family: 'Architects Daughter';
    background-image: url("../../assets/background.jpeg");
    color: white;
    height: 100vh;
    font-size: 16.5px;
}

#logo {
    text-align: center;
    margin-top: 5vh;
    width: 55vw;
}

#logo-container {
    display: flex;
    justify-content: center;
}

#checkers-container {
    border: 5px solid black;
    color: black;
    margin-top: 5vh;    
    background-image: url("../../assets/chippers-background.PNG");
    background-size: cover;
    background-color: rgba(255,255,255,0.85);
    background-blend-mode: lighten;
    z-index: 50;
    position: relative;
}

#comingsoon {
    position: fixed;
    bottom: 0vh;
    text-align: center; 
    text-shadow: 2px 3px black;
}

#comingsoon-link {
    font-weight: 900;
    color: white;
}

.center-text {
    text-align: center;
}

#chippers-title {
    text-shadow: 2px 3px white;
}

.checker-info {
    margin: 0 5px ;
}

.game-btn {
    background-color: black;
    color: white;
    border-radius: 10px;
    transition-duration: 0.5s;
    border: 1px solid black;
    font-family: 'Architects Daughter';
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
    box-shadow: none;
}

.game-btn:active {
    background-color: white;
    color: black;
    transition-duration: 0.5s;
}

#checkers-form {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btns-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#chippers-lobby {
    text-align: center;
    font-family: 'Architects Daughter';
    font-size: 20px;
}