body {
    background-color: #228B22;
    font-family: 'Architects Daughter';
    background-image: url("../background.jpeg");
    color: white;
    height: 100vh;
    font-size: 16.5px;
}

label {
    font-weight: 900;
    text-shadow: 2px 3px black;
}

.helptext {
    display: none;
}

#signup-header {
    text-align: center;
    text-shadow: 2px 3px black;
    font-size: 30px;
    margin-bottom: 70px;
}

input[type=submit] {
    align-self: center;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition-duration: 0.5s;
    border: 1px solid black;
    font-family: 'Architects Daughter';
    font-size: 40px;
    padding: 10px;
    margin-top: 10px;
    box-shadow: none;
}

input[type=submit]:active {
    background-color: white;
    color: black;
    transition-duration: 0.5s;
}

#signup-container {
    display:flex; 
    flex-direction: column;
}

#signup-form {
    display: flex;
    flex-direction: column;
}

p {
    margin-top: 5px;
}

.account-checker {
    margin-top: 8vh;
    text-align: center;
    font-size: 18px;
}

.account-checker a {
    color: white;
    font-weight: 900;
    text-decoration: none;
}

#login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    font-size: 30px;
}

#login-form {
    display: flex;
    flex-direction: column;
}

#logo {
    width: 75vw;
    margin-bottom: 50px;
}

.errorlist {
    font-size: 20px;
}