#show {
    transform: translateY(0);
}
  
#hide {
    transform: translateY(-100%);  
}

#btn-container {
    display: flex;
    justify-content: space-between;
}

#nav-btn-burger, #nav-btn-cross {
    font-size: 45px;
    color: white;
    cursor: pointer;
    z-index: 600;
    position: fixed;
    right: 5vw;
    top: 1vh;
}

#nav-btn-cross {
    font-size: 80px;
    color: red;
    top: -10px;
    opacity: 0.5;
}

#nav-btn-cross:active {
    opacity: 1;
}


.links-container {
    background: black;
    position: fixed;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    left: 0;
    transition: 0.5s;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.links {
    color: white;
    font-size: 40px;
    text-decoration: none;
    text-align: center;
    font-family: 'Architects Daughter';
}

.links:active {
    color: red;
}
